body {
  background-color: #ffe6f0;
  font-falimy: arial, sans-serif
  padding: 20px;
 margin: 0;
 {

header{
  background-color: #b30059;
  color: white;
  padding: 20px;
 text-align:center;
{

h1{

